.l-category {
  width: 60%;
  margin: 30px auto 0;
}

.l-category__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-category__main {
  width: 80%;
  border: 1px solid #F3F3F3;
  padding: 25px;
}

.l-category__main h2 {
  font-size: 22px;
  border-bottom: 3px double #2294D5;
  padding-bottom: 5px;
  margin-bottom: 10px;
  color: #5e6c77;
}

.l-category__main h3 {
  font-size: 18px;
  border-bottom: 1px solid #2294D5;
  padding-bottom: 5px;
  margin-bottom: 10px;
  color: #5e6c77;
}

.l-category__category {
  background-color: #2294D5;
  padding: 5px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  display: inline-block;
  border-radius: 20px;
}

.l-category__title {
  font-size: 28px;
  line-height: 1.3em;
  margin-top: 15px;
  color: #5e6c77;
}

.l-category__content {
  color: #5e6c77;
  line-height: 1.7em;
  margin-bottom: 30px;
}

.l-category__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  width: 228px;
  margin-left: auto;
  margin-bottom: 60px;
}

.l-category__date-wrap {
  font-size: 12px;
  color: #bbb;
}

.l-category__update-wrap {
  font-size: 12px;
  color: #bbb;
  margin-left: 20px;
}

.l-category__aside {
  width: 35%;
}

.l-category__tag {
  background-color: #2294D5;
  font-size: 20px;
  color: #fff;
  padding: 15px;
  margin-bottom: 15px;
}

.l-category__tag-list {
  font-size: 13px;
  color: #5F6C77;
  margin-left: 10px;
  margin-bottom: 10px;
}

.l-category__recent-wrap {
  margin-top: 30px;
}

.l-category__recent-title {
  background-color: #2294D5;
  font-size: 20px;
  color: #fff;
  padding: 15px;
  margin-bottom: 15px;
}

.l-category__recent-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 10px;
  padding-top: 20px;
  -webkit-transition-duration: .7s;
          transition-duration: .7s;
}

.l-category__recent-content:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-transition-duration: .7s;
          transition-duration: .7s;
}

.l-category__recent-tag {
  font-size: 13px;
  background-color: #2294D5;
  color: #fff;
  padding: 4px;
  width: 10px;
  height: 10px;
  text-align: center;
  line-height: 10px;
  border-radius: 10px;
}

.l-category__recent-name {
  font-size: 13px;
  color: #5F6C77;
  margin-left: 5px;
  line-height: 1.3em;
}

.l-category__category-wrap {
  margin-top: 30px;
}

.l-category__category-title {
  background-color: #2294D5;
  font-size: 20px;
  color: #fff;
  padding: 15px;
  margin-bottom: 15px;
}

.l-category__category-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 10px;
  padding-top: 20px;
}

.l-category__category-content:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-transition-duration: .7s;
          transition-duration: .7s;
}

.l-category__category-tag {
  font-size: 13px;
  background-color: #2294D5;
  color: #fff;
  padding: 4px;
  width: 10px;
  height: 10px;
  text-align: center;
  line-height: 10px;
  border-radius: 10px;
}

.l-category__category-name {
  font-size: 15px;
  color: #5F6C77;
  margin-left: 5px;
  line-height: 1.3em;
}

.l-category__introduce-wrap {
  margin-top: 30px;
}

.l-category__introduce-title {
  background-color: #2294D5;
  font-size: 20px;
  color: #fff;
  padding: 15px;
  margin-bottom: 15px;
}

.l-category__introduce-img {
  width: 150px;
  display: block;
  margin: 0 auto;
}

.l-category__introduce-content {
  line-height: 1.3em;
  font-size: 13px;
  color: #5F6C77;
}

.l-category__sns-title {
  font-size: 13px;
  text-align: center;
  color: #2294D5;
  margin: 40px 0 15px 0;
}

.l-category__twitter {
  color: #2294D5;
  font-size: 30px;
}

.l-category__instagram {
  color: #2294D5;
  font-size: 30px;
}

.l-category__sns-field {
  width: 80px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=l-category.css.map */